<html lang="en">
<%= stylesheet_link_tag  'reveal_presenter' %>
<head>
	<meta charset="utf-8">
	<title>Reveal.js 3 Test</title>
</head>

<body>
	<!-- Wrap the entire slide show in a div using the "reveal" class. -->
	<div class="reveal">
		<!-- Wrap all slides in a single "slides" class -->
		<div class="slides">
			<!-- Each section element contains an individual slide -->
			<section>
				<h1>Home Made Hummus</h1>
				<p>Say Left or Right to Navigate</p>
			</section>

			<section id="ingredients">
				<h2>Recipe Ingredients</h2>
				<p>Chickpeas</p>
				<p>Tahini<p>
				<p>Etc..<p>
			</section>

			<section>
				<h2>Steps</h2>
				<p>Get a Blender, Blah Blah</p>

			</section>

			</div>
	</div>

	<script>
		// Required, even if empty.
		Reveal.initialize({
		});
	</script>
</body>
</html>
