
  <div class="col-md-2">
    <%= f.input :amount, class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= f.input :measure_type, class: "form-control" %>
  </div>
    <div class="col-md-2">
    <%= f.association :ingredient, class: "form-control" %>
  </div>
  <%= link_to_remove_association "Remove Ingredient", f %>
