<div class="nested-fields row">
  <div class="col-md-10">
  <%= f.input :body, as: :string, label: "Step" %>
</div>
  <%= link_to_remove_association fa_icon("minus-square", text: "Remove Step"), f %>
</div>
