<div class="nested-fields row">
  <div class="step col-md-10">
  <%= f.input :body, as: :string, label: "Step" %>
</div class="">
  <%= link_to_remove_association fa_icon("minus-square", text: "Remove"), f %>
</div>
