
<div class="container">
<!-- <div class=""> -->

  <h1>Welcome!</h1>
<ul class="grid overlay">
  <li>
    <% @recipes.each do |recipe| %>
      <figure>
    <%= link_to recipe_path(recipe) do %>
      <%= image_tag recipe.image %>
      <figcaption>
        <h4> <%= recipe.title %> </h4>
        <!-- <span><%= recipe.description %></span> -->
        <h4>Rating: ****</h4>
      </figcaption>

      <% end %>
    </figure>
    <% end  %>
  </li>
</ul>
<!-- </div> -->

  <!-- <input id="button" type="button" name="name" value="Text to Speech Test"> -->
</div>
