.logo {
  padding-right: 20px;
  font-family: 'Courgette', cursive;
  font-size: 35px;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-content .list-inline li + li:before {
  content: '|'; display: inline-block;
}

.nav-bg {
  background-color: #237DAC;
  color: white;
}
.nav-content {
  text-decoration: none;
  height: 100%;
  display: inline-block;
  vertical-align: text-bottom;
}

#nav1 {
  margin-bottom: 0px;
}

nav a{
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.content-adjust {
  height: inherit;
  vertical-align: text-bottom;
}

.left-nav {
  padding-left: 0px;
}
