// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

#recipe_image {
  width: 400px;
  height: 400px;
  padding: 10px;
  background: asset-url(camera_icon);
}
