body{
  background-color: #white;
}

// @font-face {
//   font-family: 'NotoSansGurmukhi';
//   src:url('NotoSansGurmukhi.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

.logo {
  padding-right: 20px;
  font-family: 'NotoSansGurmukhi';
  font-size: 35px;
}

.nav {
  background-color: #0099cc;
  color: white;
  height: 120px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 120px;
  font-size: 30px;
}

.picture-description{
  background-color: #F6F6F6;
  border-bottom: 1px solid #D4D5D6;
  padding-top: 20px;
  padding-bottom: 20px;

}

.orange{
  background-color: #756D66;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  height: 50px;
}
.green{
  background-color: #8E9946;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.red-button{
  background-color: #F8F9F2;
  color: #FF1654;
  padding: 8px 37px;
  border: 2px solid #FF1654;
  font-weight: bold;
  border-radius: 3px;
}

.blue-button{
  background-color: #F8F9F2;
  color: #247BA0;
  padding: 8px 37px;
  border: 2px solid #247BA0;
  font-weight: bold;
  border-radius: 3px;
}

nav a{
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.grow {
  transition: all .2s ease-in-out;
  box-shadow: -9px 0px 8px 1px #aaaaaa;
}

.grow:hover {
  transform: scale(1.1);
}

#recipe_image {
  width: 200px;
  height: 200px;
  padding: 10px;
  background: asset-url(camera_icon_small1);
}

.steps, li  {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #474340;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  color: #474340;
}
