<h1>All Recipes</h1>
<h2><%= @title %></h2>
<div class="scraped-image">
  <img src="<%=@image%>" alt="" />
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <h3>Ingredients</h3>
    <% @ingredient_list.each do |ingredient| %>
    <p><%= ingredient.text unless ingredient.text == "Add all ingredients to list" %></p>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>Directions</h3>
    <% @directions_list.each do |direction| %>
    <p><%= direction.text unless direction.text == "" %></p>
    <% end %>
  </div>
</div>
